body {

}

#upperbanner{
position:absolute;
top:0;
left:0;
width:100%;
height:20%;	
background-color:#3B5998;
color:white;
font-size:200%;	
	
}

#login{
position:absolute;
top:0%;
left:50%;
font-size:50%;
margin:auto;
}
#central {

position:absolute;
top:20%;
left:0%;
width:100%;
height:80%;

background-repeat:no-repeat;

background-color:#e6e6ff;
}

#register_title{
	
position:absolute;
left:50%;
top:10%;	
font-size:200%;	
	
}

#register_subtitle{
	
position:absolute;
left:50%;
top:20%;	
font-size:100%;	
	
}

#central_image{

position:absolute;
left:10%;
top:20%;	
width: 30%;
height:40%;	
}
#registration_form{
position:absolute;
left:50%;
top: 30%;
	
	
	
}
#submit_btn{
	
font-size: 100%;
background-color:green;	
margin:auto;	
}
#btn{
	
font-size: 100%;
background-color:#66a3ff;	
margin:auto;	
}


		